@import "tailwindcss";

@theme inline {
	--font-body: 'Nunito Sans', sans-serif;
	--font-titles: 'Bricolage Grotesque', sans-serif;
	--color-accent-primary: #008461;
	--color-accent-primary-darker: #00654D;
	--color-accent-primary-foreground: #ffffff;
	--color-accent-secondary: #D47E64;
	--color-accent-secondary-foreground: #ffffff;
	--color-accent-secondary-darker: #B25C4E;
}

@layer base {
	body {
		font-family: var(--font-body);
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		@apply bg-neutral-100
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: var(--font-titles);
		letter-spacing: -0.02em;
	}
}